// ******************************************************************************************************************
// DEBUT NAV
// ******************************************************************************************************************
nav {
    font-family: "halogen", sans-serif;
    font-weight: 900;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    background: linear-gradient(#D651F5, #F564A7);

    .logo {
        min-width: 13vw;
        height: 13vh;
        margin-right: 3vw;
    }

    .icones {
        display: flex;
        align-items: center;
        margin-left: 3vw;

        .menu_hamburger,
        .image_compte {
            object-fit: cover;
            height: 7vh;
            margin-right: 1vw;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.compte-toggle .image_compte:hover,
.menu-toggle .hamburger-icon:hover {
    cursor: pointer;
}

.liens {
    margin-top: 15vh;
}

/* Masquer initialement les liens */
.menu-links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 350px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    transition: left 0.5s ease-in-out;
}

/* Afficher les liens lorsque la classe "show" est ajoutée */
.menu-links.show {
    left: 0;
}

/* Style des liens */
.menu-links ul {
    margin-top: 2vh;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-links li {
    margin: 5vh;
    text-align: center;
}

.menu-links a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    transition: color 0.3s, font-size 0.3s;

    &:hover {
        color: #F564A7;
    }
}

/* Style de l'icône de fermeture */
.menu-toggle .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    z-index: 1;
    transition: color 0.3s;

    &:hover {
        color: #F564A7;
    }
}

/* Style de l'icône de fermeture du sous-menu utilisateur */
.compte-toggle .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    z-index: 1;
    transition: color 0.3s;

    &:hover {
        color: #F564A7;
    }
}

// ******************************************************************************************************************
// FIN NAV
// ******************************************************************************************************************


// ******************************************************************************************************************
// DÉBUT PAGE ACTIVITÉS
// ******************************************************************************************************************

/* Styles pour le héros (hero) */
header {

    h1 {
        font-family: "halogen", sans-serif;
        font-weight: 900;
        font-style: normal;
        text-shadow: 0px 6px 8px rgb(0, 0, 0);
    }

    .hero_activites {
        background-image: url("/img/images/stage_nuit_3.jpg");
        background-size: cover;
        background-position: center;
        text-align: center;
        height: 45vh;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 3rem;
        }
    }
}

.activites {
    padding-top: 12vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background: linear-gradient(0deg, rgba(245,100,167,1) 0%, rgba(140,88,245,1) 100%);
    color: #F3F3F3;
}


/* Styles pour chaque activité */
.activite {
    display: flex;
    align-items: center;
    padding-bottom: 12vh;

    .activite-image {
        width: 15vw;
        height: 15vw;
        min-width: 100px;
        min-height: 100px;
        border-radius: 50%;
        margin-right: 30px;
        object-fit: cover;
    }

    .activite-content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 2vh;

        h2 {
            font-size: 2vw;
            font-family: "halogen", sans-serif;
            font-weight: 900;
            font-style: normal;
            text-align: left;
            margin-bottom: 3vh;
        }

        p {
            font-size: 1.2vw;
            font-family: "franklin-gothic-atf", sans-serif;
            font-weight: 400;
            font-style: normal;
            width: 60vw;
        }
    }
}


// ******************************************************************************************************************
// FIN PAGE ACTIVITÉS
// ******************************************************************************************************************
@import "_reset.css";
