@charset "UTF-8";
/* Reset CSS ---------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* mon style ========================================================= -------------------------------------------------------------------------- */
/* Styles généraux et composants ======================================================== ------------------------------------------------------------ */
/* Backgroud gradient linéaire qui fait toute la page */
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#8C58F5), to(#F564A7)) fixed;
  box-sizing: border-box;
}

h1 {
  font-family: "ohm-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 3vw;
  max-width: 35vw;
  position: absolute;
  top: 5vh;
  left: 62vw;
  text-align: end;
}

h2 {
  font-family: "halogen", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

a.bouton {
  color: white;
  font-size: 3vw;
  font-family: "forma-djr-banner", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 35vw;
  height: 12vh;
  border: solid;
  border-width: 5px;
  border-color: white;
  background: rgba(0, 0, 0, 0.438);
  text-decoration: none;
  text-align: center;
  line-height: 12vh;
}

p {
  font-family: "forma-djr-banner", sans-serif;
  font-weight: 600;
  font-style: normal;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* ligne de séparation --------------------------------------------------------------------------- */
div.conteneur_ligne_separation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

div.ligne_separation {
  width: 50vw;
  height: 3px;
  background-color: white;
}

/*  header -----------------------------------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
  background: linear-gradient(#D651F5, #F564A7);
}
header .logo {
  width: 13vw;
  height: 13vh;
}
header .conteneur_compte_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .conteneur_compte_menu .contenu_compte_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .conteneur_compte_menu .contenu_compte_menu img {
  padding: 5px;
}
header .image_menu_hamburger {
  -o-object-fit: cover;
     object-fit: cover;
  width: 5vw;
}
header .image_compte {
  -o-object-fit: cover;
     object-fit: cover;
  width: 5vw;
}

div.conteneur_video_presentation {
  display: flex;
  justify-content: center;
}

div.video_presentation {
  width: 100vw;
  height: 90vh;
  background-color: black;
}

a.bouton_video_accueil {
  position: absolute;
  top: 15%;
  left: 30%;
  color: white;
  font-size: 3vw;
  font-family: "forma-djr-banner", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 35vw;
  height: 12vh;
  border: solid;
  border-width: 5px;
  border-color: white;
  background: rgba(0, 0, 0, 0.438);
  text-decoration: none;
  text-align: center;
  line-height: 12vh;
}

/* Section programmation ------------------------------------------------------------- */
div.conteneur_programmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenu_programmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fiche_programmation {
  height: 110vh;
  width: 70vw;
  background: linear-gradient(#58CFA8 0%, #7855ED 50%, #F363A8 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fiche_programmation .logo_fiche {
  width: 20vw;
  height: 20vh;
}
.fiche_programmation .contenu_fiche_programmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fiche_programmation .contenu_fiche_programmation p {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2vw;
}
.fiche_programmation .contenu_fiche_programmation p.fiche_programmation_date {
  font-family: "ohm-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4vw;
}
.fiche_programmation .contenu_fiche_programmation p.fiche_programmation_emplacement {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.fiche_programmation .contenu_fiche_programmation p.premiere_rangee {
  font-size: 3vw;
}
.fiche_programmation .contenu_fiche_programmation p.deuxieme_rangee {
  font-size: 2.5vw;
}

div.section_carte_directions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65vh;
}
div.section_carte_directions div.conteneur_carte {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.section_carte_directions div.conteneur_carte_directions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.section_carte_directions div.conteneur_directions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.section_carte_directions div.directions {
  width: 30vw;
  height: 40vh;
  background: linear-gradient(#71D6B5 0%, #F6B99E 50%, #F564A7 100%);
}
div.section_carte_directions div.directions .directions_sous_conteneur {
  display: flex;
  flex-direction: row;
  padding-top: 4vh;
}
div.section_carte_directions div.directions .directions_sous_conteneur .directions_sous_conteneur_texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.section_carte_directions div.directions .directions_sous_conteneur .directions_sous_conteneur_texte p {
  font-size: 1.2vw;
  margin-left: 2vw;
  max-width: 15vw;
}
div.section_carte_directions div.directions img {
  margin-left: 2vw;
  height: 100px;
  width: 100px;
}
div.section_carte_directions iframe.carte {
  width: 30vw;
  height: 40vh;
}

div.conteneur_actualites {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.conteneur_actualites h3 {
  font-size: 2vw;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
}
div.conteneur_actualites p {
  font-size: 1.3vw;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
}
div.conteneur_actualites img {
  width: 20vw;
  height: 30vh;
}
div.conteneur_actualites div.sous_conteneur_actualites {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  width: 80vw;
  background: linear-gradient(#71D6B5, #D4DAFF);
}
div.conteneur_actualites div.sous_conteneur_actualites .contenu_actualites {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a.bouton_actualites {
  color: white;
  font-size: 2vw;
  font-family: "forma-djr-banner", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 35vw;
  height: 12vh;
  border: solid;
  border-width: 5px;
  border-color: white;
  background: rgba(0, 0, 0, 0.438);
  text-decoration: none;
  text-align: center;
  line-height: 12vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 20vh;
}/*# sourceMappingURL=style.css.map */