@charset "UTF-8";
/* Reset CSS ---------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* mon style ========================================================= -------------------------------------------------------------------------- */
/* Styles généraux et composants ======================================================== ------------------------------------------------------------ */
/* Backgroud gradient linéaire qui fait toute la page */
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#8C58F5), to(#F564A7)) fixed;
  box-sizing: border-box;
}

h1 {
  font-family: "ohm-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 3.5vw;
  max-width: 45vw;
  min-width: 20vw;
  position: absolute;
  top: 5vh;
  left: 50vw;
  text-align: end;
  z-index: 3;
}

h2 {
  font-family: "halogen", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

a.bouton {
  color: white;
  font-size: 3vw;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 35vw;
  height: 12vh;
  border: solid;
  border-width: 7px;
  border-color: white;
  background: rgba(0, 0, 0, 0.438);
  text-decoration: none;
  text-align: center;
  line-height: 10.5vh;
}

p {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* ligne de séparation --------------------------------------------------------------------------- */
div.conteneur_ligne_separation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

div.ligne_separation {
  width: 50vw;
  height: 3px;
  background-color: white;
}

nav {
  font-family: "halogen", sans-serif;
  font-weight: 900;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100%;
  background: linear-gradient(#D651F5, #F564A7);
}
nav .logo {
  min-width: 13vw;
  height: 13vh;
  margin-right: 3vw;
}
nav .icones {
  display: flex;
  align-items: center;
  margin-left: 3vw;
}
nav .icones .menu_hamburger,
nav .icones .image_compte {
  -o-object-fit: cover;
     object-fit: cover;
  height: 7vh;
  margin-right: 1vw;
  transition: transform 0.3s;
}
nav .icones .menu_hamburger:hover,
nav .icones .image_compte:hover {
  transform: scale(1.2);
}

.menu-toggle .hamburger-icon:hover {
  cursor: pointer;
}

.liens {
  margin-top: 15vh;
}

/* Masquer initialement les liens */
.menu-links {
  position: fixed;
  top: 0;
  left: -100%;
  width: 15vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.664);
  transition: left 0.5s ease-in-out;
}

/* Afficher les liens lorsque la classe "show" est ajoutée */
.menu-links.show {
  left: 0;
  z-index: 2;
}

/* Style des liens */
.menu-links ul {
  margin-top: 2vh;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.menu-links li {
  margin: 5vh;
  text-align: center;
}

.menu-links a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  transition: color 0.3s, font-size 0.3s;
  z-index: 2;
}
.menu-links a:hover {
  color: #F564A7;
}

/* Style de l'icône de fermeture */
.menu-toggle .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
  z-index: 1;
  transition: color 0.3s;
}
.menu-toggle .close-icon:hover {
  color: #F564A7;
}

/* Style du bouton de déconnexion */
.logout {
  text-decoration: none;
  color: #0f0f0f;
  font-size: 1.2rem;
  font-weight: bolder;
  border: solid 3px #0f0f0f;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}
.logout a {
  text-decoration: none;
}
.logout:hover {
  font-size: 1.5rem;
  border: solid 4px #0f0f0f;
  background-color: rgba(255, 255, 255, 0.3882352941);
}

/*  header -----------------------------------------------------------------------------------------*/
div.conteneur_video_presentation {
  display: flex;
  justify-content: center;
}

div.video_presentation {
  width: 100vw;
  height: 90vh;
  background-color: black;
}
div.video_presentation video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a.bouton_video_accueil {
  position: absolute;
  top: 15%;
  left: 30%;
  color: white;
  font-size: 3vw;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 35vw;
  height: 12vh;
  border: solid;
  border-width: 7px;
  border-color: white;
  background: rgba(0, 0, 0, 0.438);
  text-decoration: none;
  text-align: center;
  line-height: 10.5vh;
}

/* Section programmation ------------------------------------------------------------- */
div.conteneur_programmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30vh;
}

.contenu_programmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fiche_programmation {
  height: 110vh;
  width: 70vw;
  background: linear-gradient(#58CFA8 0%, #7855ED 50%, #F363A8 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fiche_programmation .logo_fiche {
  width: 20vw;
  height: 20vh;
}
.fiche_programmation .contenu_fiche_programmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fiche_programmation .contenu_fiche_programmation p {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2vw;
}
.fiche_programmation .contenu_fiche_programmation p.fiche_programmation_date {
  font-family: "ohm-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4vw;
}
.fiche_programmation .contenu_fiche_programmation p.fiche_programmation_emplacement {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.fiche_programmation .contenu_fiche_programmation p.premiere_rangee {
  font-size: 3vw;
}
.fiche_programmation .contenu_fiche_programmation p.deuxieme_rangee {
  font-size: 2.5vw;
}

div.section_carte_directions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65vh;
}
div.section_carte_directions div.conteneur_carte {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.section_carte_directions div.conteneur_carte_directions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.section_carte_directions div.conteneur_directions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.section_carte_directions div.directions {
  width: 30vw;
  height: 40vh;
  background: linear-gradient(#71D6B5 0%, #F6B99E 50%, #F564A7 100%);
}
div.section_carte_directions div.directions .directions_sous_conteneur {
  display: flex;
  flex-direction: row;
  padding-top: 4vh;
}
div.section_carte_directions div.directions .directions_sous_conteneur .directions_sous_conteneur_texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.section_carte_directions div.directions .directions_sous_conteneur .directions_sous_conteneur_texte p {
  font-size: 1.2vw;
  margin-left: 2vw;
  max-width: 15vw;
}
div.section_carte_directions div.directions img {
  margin-left: 2vw;
  height: 100px;
  width: 100px;
}
div.section_carte_directions iframe.carte {
  width: 30vw;
  height: 40vh;
}

div.conteneur_actualites {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5vh;
}
div.conteneur_actualites h3 {
  font-size: 2vw;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-left: 30px;
}
div.conteneur_actualites p {
  font-size: 1.3vw;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2vw;
}
div.conteneur_actualites img {
  width: auto;
  height: auto;
  max-width: 25vw;
  max-height: 40vh;
}
div.conteneur_actualites div.sous_conteneur_actualites {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  width: 80vw;
  background: linear-gradient(#71D6B5, #D4DAFF);
}
div.conteneur_actualites div.sous_conteneur_actualites .contenu_actualites {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

a.bouton_actualites {
  color: white;
  font-size: 2vw;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 35vw;
  height: 12vh;
  border: solid;
  border-width: 7px;
  border-color: white;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  text-align: center;
  line-height: 10.5vh;
  margin-bottom: 10vh;
  margin-top: 7vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 30vh;
  color: white;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 500;
  font-style: normal;
}
footer img {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
}
footer p {
  padding-top: 10px;
  font-size: 0.7vw;
  color: #ABABAB;
}
footer a {
  font-size: 2vw;
  text-decoration: none;
  color: #D4DAFF;
  padding: 1vw;
}
footer .conteneur_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1023px) {
  body {
    background-color: red;
    background: none;
  }
  h1 {
    font-size: 4.5vw;
    max-width: 60vw;
    min-width: 30vw;
    position: absolute;
    top: 5vh;
    left: 35vw;
    text-align: end;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 5.5vw;
    max-width: 60vw;
    min-width: 30vw;
    position: absolute;
    top: 5vh;
    left: 35vw;
    text-align: end;
  }
  body {
    background: blue;
  }
}/*# sourceMappingURL=style.css.map */